<div class="sidebar-wrapper">
    <div class="title-group">
        <span class="title">在线课堂</span>
        <a class="more" href="#">更多</a>
        <div class="advertise-group">
            <a href="#"><img src="https://static-fancube.xfz.cn/1565778088340/%E6%8A%A5%E5%90%8D%E8%A1%A8.png-website.active.list" alt=""></a>
        </div>
    </div>
    <div class="platform-group">
        <div class="title-group">
            <span class="title">关注小饭桌</span>
        </div>
        <div class="focus-group">
            <ul class="left-group">
                <li class="zhihu"><a href="#" target="_blank">小饭桌创业课堂</a></li>
                <li class="weibo"><a href="#" target="_blank">小饭桌创业课堂</a></li>
                <li class="toutiao"><a href="#" target="_blank">小饭桌</a></li>
            </ul>
            <div class="right-group">
                <p class="desc">关注小饭桌平台</p>
            </div>
        </div>
    </div>
    <div class="hot-news-group">
        <div class="title-group">
            <div class="title">热门推荐</div>
            <ul class="hot-list-group">
                <li>
                    <div class="left-group">
                        <p class="title">
                            <a href="#">早报：蔚来3年亏400亿；百度前高管创竞企被判赔</a>
                        </p>
                        <p class="more">
                            <span class="category">热点</span>
                            <span class="pub-time">1小时前</span>
                        </p>
                    </div>
                    <div class="right-group">
                        <a href="#"><img
                                src="https://static-image.xfz.cn/1569368392_892.jpg-website.news.list" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="left-group">
                        <p class="title">
                            <a href="#">早报：蔚来3年亏400亿；百度前高管创竞企被判赔</a>
                        </p>
                        <p class="more">
                            <span class="category">热点</span>
                            <span class="pub-time">1小时前</span>
                        </p>
                    </div>
                    <div class="right-group">
                        <a href="#"><img
                                src="https://static-image.xfz.cn/1569368392_892.jpg-website.news.list" alt=""></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>